MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_NAME=media
MINIO_USE_SSL=false

MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=media

SERVER_PORT=8084